extends layout.pug 

//-
  Please generate the html and css for a signup form. The form consists of 4
  pages. 
  Page 1 requests username, email address and password.
  Page 2 requests the pghysical address, like street name, zipcode and country.
  Page 3 requests social accounts, Facebook, Instag  r  
  Page 4 is an overview of the fields from previous pages.   
  The forms should have, onn the left side, links to each of the 4 pages.
   The UI can use material design.


block content 
    p address details